/* 
	padding-top
	padding-right
	padding-bottom
	padding-left 

	padding: top right bottom left
*/

*{
	/* geen ghost drag */ 
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
    user-select: none;
}
:root{
	--sociallink-icons: 25px;
}
body {
	margin: 0;
	background-color: #b2e0df;
	/* background-color: none; */
}

html {
	width: 13em;
	background-color: white

}



#closeWindow:hover {
	background-color: #b2e0df;
	border-radius:100000px;
}

h1,
h2,
h3,
p {
	color: black;
	font-size:15px;
	font-weight: 400;
}

h1 {
	font-size: 1em;
}

#page {
	background-color: #f1fffe;
}

.option {
	margin: 0;
	padding: 1em 1em;
	background-color: white;
	border-bottom: 1px solid #dcf4f3;

}

h2 {
	margin: 0;
	margin-bottom: 0.5em;
}

.center {
	display: flex;
	justify-content: center;
	align-content: center;
}

input[type="text"] {
	transition:	all 0.3s ease;
	width: 100%;
	border-radius: 100px;

	background-color: #d5e1e1;
	padding: 0 1em;
	width: 100%;
	height: 20px;
	border-style: none;
}
input[type="text"]:hover {
	transition:	all 0.3s ease;
	background-color: #ced9da;
}
input[type="text"]:focus {
	background-color: white;
}

#tabrename {
	background-color: #f1fffe;
	margin:0;
	padding:.5em;
	border-bottom: 1px solid #bacecd;
}


#tabHeader svg {
	fill:#f1fffe;
	width:100%;
	height:35px;
	margin-bottom: 0;
}

#tabHeader {
	display:flex;
	align-items: center;
	margin:none;
	padding:none;
}

#tabHeader>div {
	position: absolute;
	display:flex;
	align-items: center;
	justify-content: center;
}

#dot {
	margin-left: 20px;
	border-radius:10000px;
	height:15px;
	width:15px;
	background-color: #f9ab00;
}

h1 {
	margin-left: 10px;
	margin-top: 0em;
	margin-bottom: 0;
	width:110px;
	color: #002828;
	font-size:1em;
	font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

#closeWindow {
	cursor:pointer;
	font-size: 15px !important;
	margin-left: 20px;
}


#🎨gray {background-color: #5f6368}
#🎨blue {	background-color: #8ab4f8}
#🎨red {background-color: #f28b82}
#🎨yellow {background-color: #fdd663}
#🎨green {background-color: #81c995}
#🎨magenta {background-color: #ff8bcb}
#🎨purple {background-color: #c58af9}
#🎨aqua {background-color:#78d9ec}
#🎨orange {background-color:#fcad70}

#colorSelector {
	display: flex;
	justify-content: center;
}
#colorSelector div {
	width:15px;
	height:15px;
	border-radius: 500000px;
	margin: auto;
}
#colorSelector div:hover {
	cursor:pointer;
}

#colorSelector .material-symbols-rounded {
	transition:	all 0.3s ease;
	display:inline-flex;
	flex-wrap: wrap;
	align-content: center;
	font-size: 15px !important;
	width: 15px;
	height:15px;
	margin:auto;
	border-radius: 10000px;
	background-color: #d5e1e1;
	color: #5f6368;
}

#colorSelector .material-symbols-rounded:hover {
	transition:	all 0.3s ease;
	background-color: #ced9da;
	cursor:pointer;
}


#customurl{
	height: 0px;
	padding: 0px 16px;
	border-bottom: none;
	transition: all 0.1s ease 0s;
	overflow: hidden;
}

/* 
	-----------
	cursed mode
	-----------	
*/

.cursedbutton{
	height: 20px;
	text-align: center;
	vertical-align: center;
	line-height: 5px;
	background-color: #f2f2f2;
	border: none;
	border-radius: 10px;
	color: #002828;
	font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    transition: all 0.2s ease-out;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 20%);
}
.cursedbutton:hover{
	box-shadow: 0 0 6px rgb(35 173 255);
    transition: all 0.2s ease-out;
}

/* 
	-----------------
	links to websites 
	-----------------	
*/

#sociallinks{
	display: flex;
	justify-content: right;
	align-items: right;
}
.sociallink{
	background-color: none;
	border-radius: calc(var(--sociallink-icons) / 2);
	margin-top: 3px 3px 0px 0px;
}
.sociallink img{
	height: var(--sociallink-icons);
	width: var(--sociallink-icons);
	border-radius: calc(var(--sociallink-icons) / 2);
}
.sociallink img:hover{
	height: calc(var(--sociallink-icons));
	width: calc(var(--sociallink-icons));
}

/* 
	--------
	switches
	--------
*/

.switch{
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}
.switch input{
	opacity: 0;
	width: 0;
	height: 0;
}
.slider{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ced9da;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}
.slider:before{
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 2.5px;
	bottom: 2.5px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}
input:checked+.slider{
	background-color: #2196F3;
}
input:focus+.slider{
	box-shadow: 0 0 1px #2196F3;
}
input:checked+.slider:before{
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}
