 body {
	margin: 0;
}

html {
	width: 13em;
	background-color: white

}

h1 {
	background-color: #323639;
	margin: 0;
	padding: 0.5em;
	border-style: none none solid none;
	border-color: #323639;
}

h1,
h2,
h3,
p {
	color: #D6D6D7;
}

.option:nth-child(even) {
	background: #282C2F;
}

.option:nth-child(odd) {
	background: #202124;
}

.option {
	margin: 0;
	padding: 1em 1em;
}

h2 {
	margin: 0;
	margin-bottom: 0.5em;
}

.center {
	display: flex;
	justify-content: center;
	align-content: center;
}

input[type="text"] {
	width: 100%;
	border-radius: 100px;

	background-color: #ccc;
	padding: 0 1em;
	width: 100%;
	height: 20px;
	border-style: none;
}

input[type="text"]:focus {
	background-color: #2196F3;
	color: white;
}




/* --- Switches --- */

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;

	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 2.5px;
	bottom: 2.5px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;

	border-radius: 50%;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}